body,
div {margin: 0; padding: 0;}

body {background: #f5f5f5;}

#app {
    display: block;
    width: 480px;
    height: 480px;
    overflow: hidden;
}

#app div.field {
    position: relative;
    float:left;
    width: 60px;
    height: 60px;
    background: #fff;
}

#app div.field.black {
    background: #000;
}

#app div.field .chess-item {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 40px;
    height: 40px;
    background: rgb(10, 6, 226);
    color: #fff;
    text-align: center;
    vertical-align: middle;
    font-size: 0.8em;
}